[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "greybox"]
	path = greybox
	url = https://github.com/config-i1/greybox
[submodule "legion"]
	path = legion
	url = https://github.com/config-i1/legion
[submodule "smooth"]
	path = smooth
	url = https://github.com/config-i1/smooth
